/* Common */
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

img {
    width: 30px;
    height: 30px;
}

button {
    border: none;
    color: white;
    background: transparent;
}

/* NavBar */

.my-navbar {
    min-height: 4rem;
    top: 0;
    width: 100%;
    background-color: black;
    position: fixed;
}

.usersCount {
    position: relative;
    top: -0.6rem;
    font-size: 0.9rem;
    font-weight: bold;
    left: -0.1rem;
}

.nav-action-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-action-container button {
    margin-right: 1rem;
}

/* My-Modal */

.my-modal-background {
    background-image: linear-gradient(to bottom, white, black);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-modal-container {
    background-color: black;
    height: 20rem;
    width: 90%;
    max-width: 25rem;
    border-radius: 10px;
    padding: 1rem;
}

.my-modal-content {
    color: white;
    text-align: center;
    margin-top: 1rem;
}

.close-btn {
    display: flex;
    justify-content: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.join-btn {
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 2.5rem;
    width: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.roomIdInput input {
    width: 300px;
    height: 40px;
    margin: 2rem 0 3rem 0;
    padding-left: 0.3rem;
    border-radius: 5px;
}

.settings-container {
    padding: 0 4rem;
}

.settings-container > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.settings-container > div p {
    margin: 0;
}

#dataContainer {
    padding-top: 6rem;
    min-width: 100%;
    min-height: 99%;
    resize: none;
    border: none;
    z-index: 0;
}

@media screen and (min-width: 600px) {
    .nav-action-container {
        width: initial;
        display: initial;
        justify-self: initial;
    }
    #dataContainer {
        padding-top: 4rem;
    }
}
